@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&family=Roboto:wght@100&family=Sometype+Mono&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header .line {
    height: 10px;
    background-color: #117050;

}
.button {
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}
.button:hover {
    color: white;
    background-color: #454545;
}
.bar {
    background-color:#117050 ;
    width:168px;
    height:22px;
}
h1 {
    font-size: 90px;
    font-weight: bold;
    font-family: Oswald, sans-serif;
    line-height: 95px;
    margin: 0;/* como a imagem do banner ta empurrando colocamos um margin no h1, para n atrapalhar a iamgem do banner*/
    margin-bottom: 30px;
}
h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: Oswald, sans-serif;
    line-height: 45px;
    margin: 20px 0px;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.header_right {
    display: flex;
    align-items: center;
}
.header_area {
    align-items: center; /*coloquei a logo e os 3 pontos no meio */
    display: flex;
    justify-content: space-between;
    height: 100px;

}
.header_left img {
    width: 64px;
    height: 64px;
}
.header_search form {
    display: flex;
}


.header_search input {
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header_search button {
    border: 0;
    background: transparent;
    margin-left: -30px; /*margin negativo para o botao entrar para dentro do input*/
    cursor: pointer;
}
.header_search button img {
    width: 16px;
    height: 16px;
}

.header_menu {
    margin-left: 50px;
}
.header_menu img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.banner {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px; /*quando for add mais conteudo, aumentamos nosso banner*/
}
.banner_images {
    margin-top: 60px;
}
.banner_images img{
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area1_content {
    padding: 80px;
}
.area1_img1 {
    background-color: green;
    background-image: url('../img/f2.jpg');
    height: 350px;
    background-size: cover;
    background-position: center;
}
.area1_img2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url('../img/f1.jpg');
    background-size: cover;
    background-position: center;
}
.area1_quote {
    margin-bottom: 30px;   
}
.area1_text {
    margin-bottom: 50px;
    line-height: 25px;
}







.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area2_content {
    padding: 80px;
}
.area2_img1 {
    background-color: green;
    background-image: url('../img/f4.jpg');
    height: 450px;
    background-size: cover;
    background-position: center;
}
.area2_img2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url('../img/f3.jpg');
    background-size: cover;
    background-position: center;
}
.area2_quote {
    margin-bottom: 30px;   
}
.area2_text {
    margin-bottom: 50px;
    line-height: 25px;
}




.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.area3_content {
    padding: 200px 80px;
    background-image: url('../img/bg2.jpg');
    background-size: cover;
    background-position: left;
}
.area3_text {
    margin-bottom: 50px;
    line-height: 25px;
}
.area3_img1 {
    background-image: url('../img/f5.jpg');
    background-size: cover;
    background-position: center;
}


/*aqui n precisa de grid, pq e uma estrutura basica e unica*/
.area4 {
    display: grid;
    grid-template-columns: 450px 1fr;
    background-color: #e8e9ee;
}
.area4_content {
    padding: 150px 80px;
}
.area4_text {
    margin-bottom: 50px;
    line-height: 25px;
}
.area4_img1 {
    background-image: url('../img/bg3.jpg');
    background-position: left;
}

.area5 {
    background-image: url('../img/bg4.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
}
footer {
    background-color: #333;
    color: white;
    padding: 80px;
    text-align: center;
}



/*com isso em 1024 fica perfect e n cola nas laterais */
@media (min-width:769px) and (max-width:1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media  (min-width:426px) and (max-width:768px) {
    .container {
        padding-left: 30px;
        padding-right: 50px;
    }
    .area1 {
        grid-template-columns: 3fr 2fr;
    }
    .area2 {
        grid-template-columns: 2fr 3fr;
    }
    .area3 {
        grid-template-columns: 3fr 2fr;
    }
    .banner_images img {
        width: 130px;
        height: 130px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
    }
    h1 {
        font-size: 50px;
        line-height: 50px;
    }

}
@media (max-width:425px) {
    .container {
        padding-left: 20px;
        padding-right: 30px;
    }
    .header_search input {
        max-width: 100px;
    }
    h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .banner_images img {
        width: 75px;
        height: 75px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 9px;
    }
    .area1,
    .area2,
    .area3,
    .area4 {
        grid-template-columns: 1fr;

    }
    .area1_content,
    .area2_content,
    .area3_content,
    .area4_content {
        padding: 40px;
    }
    .area5 {
        height: 200px;
    }
    footer {
        font-size: 12px;
        padding:20px 40px;
    }
    h2 {
        font-size: 25px;
        line-height: 30px;
    }


}