.container {
    background-color: #ccc;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px 20px;
    color:white;
    justify-content:end;

}
/*aqui em itens vao regras mais especificas, ja no container vao as regras gerais*/
.item {
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}