body {
    margin: 0;
}
@media only print {
    h1 {
        display:none;
    }
    table, td {
        border: 10px solid black;
    }
}


@media (aspect-ratio: 1/1 )
{
    body {
        background-color: red;
    }
}
@media (aspect-ratio: 2/1) {
    body {
        background-color: rgb(0, 110, 255);
    }
}
@media (aspect-ratio: 1/2) {
    body {
        background-color: rgb(0, 255, 47);
    }
}

.video {
    width: 100%;
    margin: auto;
    max-width: 700px;
}
.videoarea {
    position: relative;
    height: 0px;
    background-color: white;
    padding: 0px 0px 56.25%;
}
.videoarea iframe {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}
.funmaxmin {
    width: max(50%, 400px);
}
.funmin {
    width: min(50%, 600px);
}