body {
    margin: 0;
}
.herenca {
    background-color: rgb(55, 69, 69);
    width: 200px;
    height: 200px;   
}
img {
    width: inherit;
}
* {
    box-sizing: content-box;    
}
.safari {
    color: rgb(20, 223, 142);
}
.safari:hover {
    color: rgb(77, 20, 219);
}
.link:visited {
    color:aqua;
}
