
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 'inter', sans-serif;
}
body {
  display: flex;
  width: 100%;
  height: 100vh;
  background:#0c0ce94d;
  justify-content: center;
  align-items: center;
}
.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, .212);
}
.form_image {
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}
.form_image img {
    width: 31rem;
}
.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}
.form_header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
.login_button { 
    display: flex;
    align-items: center;
}
.login_button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.login_button button:hover {
    background-color: #6b63fff1;
}
.login_button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

 /*Isso e aquele risco em baixo do Cadastre-se*/
.form_header h1::after { 
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.input_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
/*Ja aqui eu simplesmente tirei a borda tradicional adicinei a minha borda redonda e coloquei uma combrinha atras dela, para poder mostra-la, caso contrario n apareceria nada*/
.input_box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
/*ja aqui quando so ao passar o mouse por cima da caixinhae ele vai ficar um cinzinha bem clarinho*/
.input_box input:hover {
    background-color: #eeeeee75;
}
/*Aqui resumidamente, quando clciar na caixinha vai ficar uma linha roxinha fininha dentro da caixinha para responder*/
.input_box input:focus-visible {
    outline:1px solid #6c63ff;
}
.input_box label, .title h5 {
    font-size: 0.80rem;
    font-weight: 600;
    color: #000000c0;
}
.input_box input::placeholder {
    color: #6f6d6dbe;
}
.gender_group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}
.gender_input {
    display: flex;
    align-items: center;
}
.gender_input input {
    margin-right: 0.35rem;
}
.gender_input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}
.button_continue button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.button_continue button:hover {
    background-color: #6b63fff1;
}
.button_continue button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width:1169px) {

    .form_image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}
/*Esse overflow y scroll faz com que crie uma barra de scrool dentro do grou*/
@media screen and (max-width:918px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input_group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .gender_input {
        margin-top: 0.5rem;
    }
    .gender_group {
        flex-direction: column;
    }
}