body {
    margin: 5;
}
.square1, .square2 {
     width: 150px;
     height: 150px;
     background-color: blue;
     margin: 15px;
     float:left;
}

.container0 {
    display: flex;
    background-color: grey;
    flex-direction:row;
    margin: 10px;
}
.container0 div,
.container1 div,
.container2 div {
    background-color: red;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}
.container1 {
    display: flex;
    background-color: grey;
    flex-direction: row;
    margin: 10px;
}
.container2 {
    display: flex;
    background-color: grey;
    flex-direction:column;
    margin: 10px;
}
.container3 {
    display: flex;
    background-color: grey;
    flex-direction:row;
    margin: 10px;
}
.container3 div {
    flex: 1;
    background-color:blue;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
}
.container4 {
    display: flex;
    background-color: grey;
    flex-direction: row;
    margin: 10px;
}

.container4 div {
    flex: 1;
    background-color: rgb(159, 51, 221);
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}
#flex2 {
    flex: 2;
    background-color: rgb(159, 51, 221);
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}
.container5 {
    justify-content: center;
    flex-wrap: nowrap;
    display: flex;
    background-color: rgb(118, 118, 208);
    flex-direction: row;
    margin: 10px;
}
.container5 div {
    width: 50px;
    background-color: rgb(159, 51, 221);
    margin: 5px;
    padding: 5px;
    font-size: 18px;
}


.container6 {
    justify-content: center;
    align-items: center;
    height: 500px;
    display: flex;
    background-color: rgb(118, 118, 208);
    flex-direction:column;
    margin: 10px;
}
.container6 div {

    height: 100px;
    width: 100px;
    background-color: rgb(159, 51, 221);
    margin: 5px;
    padding: 5px;
    font-size: 18px;
}