* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 25px;
    color: #333;
}
h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
    padding: 10px;
}
img {
    width: 200px;
    border: 1px solid black;
    border-radius: 100px;
    overflow: hidden;
}
a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #999;
    margin: 20px;
}
a:hover {
    color: #555;
}   
a:visited {
    color: #333;
}
.container {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}
.content_top {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 25%;
    height: 400px;
}
.content_1,
.content_2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px #ddd;
    padding: 20px;
    width: 45%;
}
.content_3 {
    display: flex;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px #ddd;
    margin-top: 20px;
    width: 50%;
    flex-direction: column;
    margin-left: 25%;
}
.content_3_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elements_3 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 5%;
}
.content_3 .square,
.content_3 .circle {
    width: 250px;
    height: 250px;
    background-color: #ccc;
    border: 1px solid #999;
}
.content_3 .circle {
    border-radius: 125px;
}
.content_4 {
    display: flex;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px #ddd;
    margin-top: 30px;
    width: 50%;
    margin-left: 25%;
    flex-wrap: wrap;
    justify-content: center;
}
.content_4_left,
.content_4_right {
    display: flex;
    flex-direction: column;
}
.content_4_right h1, 
.content_4_right h2,
.content_4_right p {
    padding: 10px;
}
.content_4_right h2 {
    margin-top: 10px;
}
.content_4_left {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}